{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="Encyclopaedia of Bacterial Virus Anti-Defence Systems" />
        <meta name="keywords"
            content="Anti-defence, protein, phages" />
        <title>
            {% block title %}
            Encyclopaedia of Bacterial Virus Anti-Defence Systems
            {% endblock title %}
        </title>
        <link rel="shortcut icon"
            type="image/x-icon"
            href="{% static "explorer/favicon.ico" %}" />
        <link rel="stylesheet" href="{% static "explorer/anti_defence.css" %}">
        <link rel="stylesheet"
            href="//assets.emblstatic.net/vf/v2.5.7/css/styles.css" />
        <link rel="stylesheet"
            href="//ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css"
            type="text/css"
            media="all" />
        <link rel="stylesheet"
            href="https://assets.emblstatic.net/vf/v2/assets/ebi-header-footer/ebi-header-footer.css"
            type="text/css"
            media="all" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script defer="defer"
            src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.4/js/script.js"></script>
        <link rel="import"
            href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=6682&pattern=node-body&source=contenthub"
            data-target="self"
            data-embl-js-content-hub-loader>
        {% comment %} <script src="https://assets.emblstatic.net/vf/v2.5.7/scripts/scripts.js"></script> {% endcomment %}
        {% comment %} The above commented EMBL JS, creates a bug for feature viewer, leading to an error and not showing confidence score plot {% endcomment %}
        <!-- sortable tables -->
        <link rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet"
            type="text/css"
            href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-3.1.0.css">
    {% endblock head %}
</head>
<body class="vf-body | vf-stack vf-stack--200">
    <div class="masthead">
        <div class="masthead-inner">
            <span>Bacterial virus anti-defence systems &middot; sequence &amp; structure resource</span>
        </div>
    </div>
    <section style="--vf-hero--bg-image: url('{{ base_url }}{% static "explorer/banner.jpg" %}'); margin-top: 0" class="vf-hero vf-hero--400 | vf-u-fullbleed">
        <div class="vf-hero__content | vf-box | vf-stack vf-stack--400">
            {% if request.resolver_match.url_name in "home" %}<p class="vf-hero__kicker">Encyclopaedia of Bacterial Virus Anti-Defence Systems</p>{% endif %}
            <h1 class="vf-hero__heading">Encyclopaedia of Bacterial Virus Anti-Defence Systems</h1>
        </div>
    </section>
    <nav class="vf-navigation vf-navigation--main | vf-cluster">
        <ul class="vf-navigation__list | vf-list | vf-cluster__inner">
            <li class="vf-navigation__item">
            <a href="/" class="vf-navigation__link">&larr; Home (Download / Analyse)</a>
        </li>
        <li class="vf-navigation__item">
            <a href="{% url 'protein_list' %}"
            class="vf-navigation__link {% if request.resolver_match.url_name == 'protein_list' %}is-active{% endif %}">Browse</a>
        </li>
        </ul>
    </nav>
    <hr class="vr-divider | vf-u-margin__bottom--600">
    {% block content %}
    {% endblock content %}
</body>
</html>
